* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header{
    background-color: cyan;
    height: 55px;
    padding: 10px 0px 10px 20px;
}

footer {
    background-color: cyan;
    height: 2.5rem;
    width: 100%;
    bottom: 0;
    position: fixed;
}

/* need to look into flexbox froggy */
#playlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2.5rem;
}
.playlist-cover {
    border-radius: 20px 20px 0px 0px;
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
}

.playlist-info {
    padding-left: 10px;
    padding-bottom: 10px;
}

.playlist-cards {
    border: 1px solid black;
    margin: 25px;
    border-radius: 20px;
}

/* for modal */

.modal-playlist-cover {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.modal-playlist-info {
    display: flex;
}

.modal-playlist-info > .playlist-info{
    padding-top: 20px;
    padding-left: 30px;
}
.modal-overlay {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: auto;
 }
 .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */

 }
 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }
 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }

.song {
    display: flex;
    min-height: 10vh;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.song-duration {
    width: 20%;
    /* padding-top: 10px; */
    /* padding-bottom: 10%; */
}

.song-duration > p {
    text-align: center;
}
.song-cover{
    width: 10%
}

.song-info{
    width: 80%;
    padding-left: 10px;
}
.song-cover > img {
    height: 100%;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    /* height: 100px; */
    /* width: 100px; */
 }
 .song-text {
    display: flex;
    align-items: center;
    width: 100%;
 }

.fa-heart {
    color: rgb(214, 111, 111);
}

.fa-heart:hover {
    color: red;
    cursor: pointer;
}
